<div class = "main-content-view">

	<div class = "date-location-container">

		<div class = "dates">
	
			<div class="row date-container">
			      <div class="col-md-6">
			        <p class="input-group">
			          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			        </p>
			      </div>

			      <div class="col-md-6">
			        <p class="input-group">
			          <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			        </p>
			      </div>
			</div>
			
		</div>

		<div class = "locations">
			<ul>
				<li ng-repeat = "location in locations | limitTo:3:0">
				{{location.location_name}}
				</li>
			</ul>

		</div>

	</div>
	
	<highchart id="chart1" config="chartConfig"></highchart>

</div>
