.login-container{
	background-image: url('http://mscoria.weebly.com/uploads/1/7/9/3/179325/7095632_orig.jpg');
	width: 100%;
	height:100vh;
}
.login-butts{
	text-align:center;
}

.btn-login-custom{
	background-color: #4A3230;
	color: white;
}

.login-form-container
{
	text-align: center;
	padding-top:100px;
}

.main-login-forms
{
	float: none;
	display: inline-block;
}